<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundProjectNotificationsMapper">

    <resultMap type="FundProjectNotifications" id="FundProjectNotificationsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="userId"    column="user_id"    />
        <result property="notificationType"    column="notification_type"    />
        <result property="content"    column="content"    />
        <result property="isRead"    column="is_read"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectFundProjectNotificationsVo">
        select id, project_id, user_id, notification_type, content, is_read, create_time from fund_project_notifications
    </sql>

    <select id="selectFundProjectNotificationsList" parameterType="FundProjectNotifications" resultMap="FundProjectNotificationsResult">
        <include refid="selectFundProjectNotificationsVo"/>
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="notificationType != null  and notificationType != ''"> and notification_type = #{notificationType}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
        </where>
    </select>

    <select id="selectFundProjectNotificationsById" parameterType="Long" resultMap="FundProjectNotificationsResult">
        <include refid="selectFundProjectNotificationsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundProjectNotifications" parameterType="FundProjectNotifications" useGeneratedKeys="true" keyProperty="id">
        insert into fund_project_notifications
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="notificationType != null and notificationType != ''">notification_type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="isRead != null">is_read,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="notificationType != null and notificationType != ''">#{notificationType},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFundProjectNotifications" parameterType="FundProjectNotifications">
        update fund_project_notifications
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="notificationType != null and notificationType != ''">notification_type = #{notificationType},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundProjectNotificationsById" parameterType="Long">
        delete from fund_project_notifications where id = #{id}
    </delete>

    <delete id="deleteFundProjectNotificationsByIds" parameterType="String">
        delete from fund_project_notifications where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
