<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundProjectsMapper">

    <resultMap type="FundProjects" id="FundProjectsResult">
        <result property="id"    column="id"    />
        <result property="projectName"    column="project_name"    />
        <result property="applicantId"    column="applicant_id"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFundProjectsVo">
        select id, project_name, applicant_id, description, status, start_date, end_date, create_time, update_time from fund_projects
    </sql>

    <select id="selectFundProjectsList" parameterType="FundProjects" resultMap="FundProjectsResult">
        <include refid="selectFundProjectsVo"/>
        <where>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="applicantId != null "> and applicant_id = #{applicantId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
        </where>
    </select>

    <select id="selectFundProjectsById" parameterType="Long" resultMap="FundProjectsResult">
        <include refid="selectFundProjectsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundProjects" parameterType="FundProjects" useGeneratedKeys="true" keyProperty="id">
        insert into fund_projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="applicantId != null">applicant_id,</if>
            <if test="description != null">description,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="applicantId != null">#{applicantId},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFundProjects" parameterType="FundProjects">
        update fund_projects
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="applicantId != null">applicant_id = #{applicantId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundProjectsById" parameterType="Long">
        delete from fund_projects where id = #{id}
    </delete>

    <delete id="deleteFundProjectsByIds" parameterType="String">
        delete from fund_projects where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
