<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundProjectReviewsMapper">

    <resultMap type="FundProjectReviews" id="FundProjectReviewsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
    </resultMap>

    <sql id="selectFundProjectReviewsVo">
        select id, project_id from fund_project_reviews
    </sql>

    <select id="selectFundProjectReviewsList" parameterType="FundProjectReviews" resultMap="FundProjectReviewsResult">
        <include refid="selectFundProjectReviewsVo"/>
        <where>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
        </where>
    </select>

    <select id="selectFundProjectReviewsById" parameterType="String" resultMap="FundProjectReviewsResult">
        <include refid="selectFundProjectReviewsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundProjectReviews" parameterType="FundProjectReviews" useGeneratedKeys="true" keyProperty="id">
        insert into fund_project_reviews
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">project_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">#{projectId},</if>
         </trim>
    </insert>

    <update id="updateFundProjectReviews" parameterType="FundProjectReviews">
        update fund_project_reviews
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">project_id = #{projectId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundProjectReviewsById" parameterType="String">
        delete from fund_project_reviews where id = #{id}
    </delete>

    <delete id="deleteFundProjectReviewsByIds" parameterType="String">
        delete from fund_project_reviews where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
