<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundAlertsMapper">

    <resultMap type="FundAlerts" id="FundAlertsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="alertType"    column="alert_type"    />
        <result property="message"    column="message"    />
        <result property="isRead"    column="is_read"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectFundAlertsVo">
        select id, project_id, alert_type, message, is_read, created_at from fund_alerts
    </sql>

    <select id="selectFundAlertsList" parameterType="FundAlerts" resultMap="FundAlertsResult">
        <include refid="selectFundAlertsVo"/>
        <where>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="alertType != null  and alertType != ''"> and alert_type = #{alertType}</if>
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>

    <select id="selectFundAlertsById" parameterType="String" resultMap="FundAlertsResult">
        <include refid="selectFundAlertsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundAlerts" parameterType="FundAlerts" useGeneratedKeys="true" keyProperty="id">
        insert into fund_alerts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">project_id,</if>
            <if test="alertType != null and alertType != ''">alert_type,</if>
            <if test="message != null and message != ''">message,</if>
            <if test="isRead != null">is_read,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">#{projectId},</if>
            <if test="alertType != null and alertType != ''">#{alertType},</if>
            <if test="message != null and message != ''">#{message},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateFundAlerts" parameterType="FundAlerts">
        update fund_alerts
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null and projectId != ''">project_id = #{projectId},</if>
            <if test="alertType != null and alertType != ''">alert_type = #{alertType},</if>
            <if test="message != null and message != ''">message = #{message},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundAlertsById" parameterType="String">
        delete from fund_alerts where id = #{id}
    </delete>

    <delete id="deleteFundAlertsByIds" parameterType="String">
        delete from fund_alerts where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
