<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundProjectFundsMapper">

    <resultMap type="FundProjectFunds" id="FundProjectFundsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="expenseType"    column="expense_type"    />
        <result property="amount"    column="amount"    />
        <result property="expenseDate"    column="expense_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFundProjectFundsVo">
        select id, project_id, expense_type, amount, expense_date, remark from fund_project_funds
    </sql>

    <select id="selectFundProjectFundsList" parameterType="FundProjectFunds" resultMap="FundProjectFundsResult">
        <include refid="selectFundProjectFundsVo"/>
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="expenseType != null  and expenseType != ''"> and expense_type = #{expenseType}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="expenseDate != null "> and expense_date = #{expenseDate}</if>
        </where>
    </select>

    <select id="selectFundProjectFundsById" parameterType="Long" resultMap="FundProjectFundsResult">
        <include refid="selectFundProjectFundsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundProjectFunds" parameterType="FundProjectFunds" useGeneratedKeys="true" keyProperty="id">
        insert into fund_project_funds
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="expenseType != null and expenseType != ''">expense_type,</if>
            <if test="amount != null">amount,</if>
            <if test="expenseDate != null">expense_date,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="expenseType != null and expenseType != ''">#{expenseType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="expenseDate != null">#{expenseDate},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFundProjectFunds" parameterType="FundProjectFunds">
        update fund_project_funds
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="expenseType != null and expenseType != ''">expense_type = #{expenseType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="expenseDate != null">expense_date = #{expenseDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundProjectFundsById" parameterType="Long">
        delete from fund_project_funds where id = #{id}
    </delete>

    <delete id="deleteFundProjectFundsByIds" parameterType="String">
        delete from fund_project_funds where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
