<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.system.mapper.FundProjectBudgetsMapper">

    <resultMap type="FundProjectBudgets" id="FundProjectBudgetsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="expenseType"    column="expense_type"    />
        <result property="budget"    column="budget"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectFundProjectBudgetsVo">
        select id, project_id, expense_type, budget, create_time from fund_project_budgets
    </sql>

    <select id="selectFundProjectBudgetsList" parameterType="FundProjectBudgets" resultMap="FundProjectBudgetsResult">
        <include refid="selectFundProjectBudgetsVo"/>
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="expenseType != null  and expenseType != ''"> and expense_type = #{expenseType}</if>
            <if test="budget != null "> and budget = #{budget}</if>
        </where>
    </select>

    <select id="selectFundProjectBudgetsById" parameterType="Long" resultMap="FundProjectBudgetsResult">
        <include refid="selectFundProjectBudgetsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFundProjectBudgets" parameterType="FundProjectBudgets" useGeneratedKeys="true" keyProperty="id">
        insert into fund_project_budgets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="expenseType != null and expenseType != ''">expense_type,</if>
            <if test="budget != null">budget,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="expenseType != null and expenseType != ''">#{expenseType},</if>
            <if test="budget != null">#{budget},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFundProjectBudgets" parameterType="FundProjectBudgets">
        update fund_project_budgets
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="expenseType != null and expenseType != ''">expense_type = #{expenseType},</if>
            <if test="budget != null">budget = #{budget},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFundProjectBudgetsById" parameterType="Long">
        delete from fund_project_budgets where id = #{id}
    </delete>

    <delete id="deleteFundProjectBudgetsByIds" parameterType="String">
        delete from fund_project_budgets where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
